<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>
      <section v-if="winner" class="container">
        <h2>Game Over</h2>
        <h3 v-if="winner === 'monster'">You lose</h3>
        <h3 v-else-if="winner === 'player'">You win</h3>
        <h3 v-else>Draw</h3>
        <button @click="resetGame">Reset?</button>
      </section>
      <section v-else id="controls">
        <button @click="attack">ATTACK</button>
        <button :disabled="enableSpecial" @click="sAttack">SPECIAL ATTACK</button>
        <button @click="heal">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul v-for="log in logs">
          <span
            :class="{'log--player': log.by === 'player', 'log--monster': log.by === 'monster'}"
          >
            {{ log.by === 'player' ? 'player' : 'monster'}} :
          </span>

          <span v-if="log.what === 'healed'">
            {{ log.what}} for <span class="log--heal">{{log.value}} </span>
          </span>

          <span v-else>
            {{ log.what }} for <span class="log--damage"> {{log.value}}
            </span>
          </span>

        </ul>
      </section>
    </div>
  </body>
</html>
